
html {
    min-height: 100%;
}

body {
    background: rgb(196, 94, 95);
    background: -webkit-linear-gradient(top, rgba(196, 94, 95, 1) 0%, rgba(122, 34, 85, 1) 90%);
    background: linear-gradient(to bottom, rgba(196, 94, 95, 1) 0%, rgba(122, 34, 85, 1) 90%);
    background-repeat: no-repeat;
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
}

.login-wrapper {
    background-color: rgba(20, 20, 20, 0.7);
    border-radius: 0%;
    color: white;
    height: 250px;
    margin: 0 auto;
    opacity: 80%;
    width: 300px;
}

.login-wrapper ul li a,
.login-wrapper ul li a:hover,
.login-wrapper ul li a:active,
.login-wrapper ul li a:focus {
    background: none;
    border: none;
    border-radius: 3%;
    color: white;
    margin: 10px 10px;
    outline: none;
}

.login-wrapper ul li.active a {
    background: rgba(200, 200, 200, 0.2) !important;
    border: none;
    border-bottom: 3px solid rgba(230, 230, 230, 1);
    color: #fff;
}

.input-login {
    background: rgba(60, 30, 50, 0.5);
    border: 2px solid rgba(230, 230, 230, 0.8);
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px 10px;
    width: 80%;
}

input:focus {
    /* outline: 2px solid rgba(240, 240, 240, 0.2);*/
    border-color: rgba(255, 255, 255, 0.85);
    outline: none;
}

.btn-login,
.btn-create {
    background: rgba(255, 69, 0, 0.8);
    border: none;
    border-radius: 3px;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 32px;
    margin: 10px auto;
    outline: none;
    padding: 5px;
    width: 80%;
}

.err {
  position: absolute !important;
  right: 0px;
  visibility: hidden;
  top: 0px;
  margin: 10px;
  color: #fff;
}

.alert-success {
  background: rgba(0,0,0,0.35);
  border-color: rgba(35,35,35,0.67);
}

.close {
  color: rgba(255,255,255,0.4);
  opacity: inherit;
}

.err a {
  padding: 0px 5px;
}